.commentPage {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.commentPage ul {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.commentPage ul li {
  margin-bottom: 0;
}

.commentPage ul li:last-child {
  margin-bottom: 0;
}

.commentPage h4 {
  text-align: center;
  margin: 0 15px;
}

.commentPage .fa-3x {
  text-align: center;
}

.vertical-scroll {
  overflow-y: scroll;
}

.comment {
  background-color: lightgreen;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 3%;
  width: 94%;
  overflow-x: hidden;
}

.comment .layoutRow {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 10px;
  width: auto;
}

.comment .layoutRowMobile {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 10px;
  width: 100%;
}

.comment .like_icon {
  width: 20px;
  height: 20px;
}

.comment .like {
  display: grid;
  grid-template-rows: auto min-content;
  justify-items: center;
  align-items: center;
  margin: 0 10px;
}

.comment .details {
  display: grid;
  grid-template-rows: auto min-content;
}

.comment .inDetails1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment .inDetails2 {
  display: flex;
  justify-content: space-between;
}

.comment a {
  color: inherit;
  text-decoration: inherit;
}

.comment .button {
  cursor: pointer;
  background-color: rgb(180, 250, 180);
  border: None;
  border-radius: 8px;
  padding: 6px;
}

.comment .like_btn {
  cursor: pointer;
  background-color: transparent;
  border: None;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.comment .reply_btn {
  cursor: pointer;
  background-color: rgb(180, 250, 180);
  border: None;
  border-radius: 8px;
  padding: 6px 30px;
  margin: 0;
  transition-duration: 0.4s;
  font-size: 16px;
}

.comment .reply_btn:hover {
  background-color: hwb(120 37% 38%);
  color:white;
}

.comment .like p {
  font-size: small;
}

.comment .container {
  margin-top: 10px;
  background-color: transparent;
  justify-items: center;
  padding: 0;
}

.comment form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
}

.comment textarea {
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(108, 179, 108);
  border-radius: 12px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* Responsive layout - when the screen is less than 500px wide */
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin-top: 0;
  }
  .comment form {
    display: grid;
    grid-template-rows: auto min-content;
  }
  .comment textArea {
    width: 100%;
  }
}