.subPage {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

.subPage ul {
    margin: 0;
    padding: 0;
}

.subPage .pageButtons {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    justify-self: center;
    align-items: center;
}

.newSubmission {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newSubmission button {
    margin-top: 20px;
    background-color: #1b6f1bc7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
    align-self: center;
}

.subPage h4 {
    text-align: center;
    margin: 0 15px;
}

.subPage .pageButtons button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgb(0, 190, 0);
    padding: 2px;
    margin: 5px;
    cursor: pointer;
}