.submissionDetails {
    height: 100%;
    overflow-y: scroll;
}

.submissionDetailsHeader {
    padding: 20px;
    border-bottom: rgb(58, 61, 58) solid 1px;
}

h3 {
    font-size: 16px;
}

.submissionDetailsInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;    
}
.submissionDetailsInfo > div {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: .75em;
}
.subInfo {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.heartAndNum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heart {
    margin-bottom: -7px;
}
.infoUrl a {
    text-decoration: none;
    color:rgb(80, 80, 80)
}
.infoUser, .infoUser a {
    color: rgb(77, 158, 77);
}

.newComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.newCommentButton {
    width: 200px;
    background-color: lightgreen;
    color: rgb(53, 53, 53);
    font-weight: 500;
    padding: 12px 20px;
    border: none;
    border-radius: .75em;
    cursor: pointer;
}
.cancelButton {
    background-color: rgb(224, 224, 224);
    margin-right: 5px;
}

.newCommentForm {
    width:  100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.newCommentForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newCommentForm textarea {
    width: 100%;
    max-width: 500px;;
    max-height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(108, 179, 108);
    border-radius: 12px;
    background-color: #f8f8f8;
    font-size: 16px;
    margin-bottom: 5px;
}

.formButtons {
    display: flex;
    justify-content: center;
}

.submissionDetailsComments {
    text-align: center;
    margin-top: 20px;
}

.submission_like_btn {
    border: none;
    background-color: transparent;

}